{% include 'base.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title>Organization Signup</title>
    </head>

    <body>
        <div >  <H3>Tool For Change Home Page</H3></div>
        <p>TFC in a generic application, which can be used by any organization (for-profit or non-profit) to engage the community and also raise money for their cause. 
            This becomes a placeholder for adding any common tools that can be used by organizations.We guide nonprofits into the digital age, 
            help them hit their fundraising goals and free them to devote more resources to their critical work.We believe that nonprofits, no matter their size, 
            should not sacrifice their means to satisfy their missions. So we built and support a powerful and practical platform that’s free for nonprofits.</p>
        
    </body>
</html>
