{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title></title>
        
    </head>

    <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    {% load static %}
                    <a  href="#" class="navbar-brand">

                            <img src="{{org.logo.url}}" width="50", height="50">
                    </a>
                    </nav>
            <div>
                <h3>Your Link has been expired.</h3>

            </div>
            </body>
            </html>