{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title>Volunteer Signup</title>
    </head>

    <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
                    <!-- Brand/logo -->
                    {% load static %}
                    <a  href="#" class="navbar-brand">

                            <img src="{{org.logo.url}}" width="50", height="50">
                    </a>
                    </nav>
        {% block body %}
        {% if messages %}
                    {% for msg in messages %}
                         <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{msg.message}}
                        </div>
                    {% endfor %}
                {% endif %}
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
                    
                    <form method="post" >
                            {%csrf_token%}
                            {{form.as_p}}
                            <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                </div>
            </div>
        </div>
           
            {%endblock%}
    </body>
</html>
