{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title></title>
        
    </head>

    <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    {% load static %}
                    <a  href="#" class="navbar-brand">

                            <img src="{{org.logo.url}}" width="50", height="50">
                    </a>
                    </nav>
        <div>
            <br>
            <form  method="post">
                {%csrf_token%}
                <div >
                    <label for="member_email">Email:</label>
                    <input type="text" id="member_email" name="member_email"><br>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                
             </form>
                </body>
                </html>