{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title></title>
        
    </head>

    <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    {% load static %}
                    <a  href="#" class="navbar-brand">

                            <img src="{{org.logo.url}}" width="50", height="50">
                    </a>
            </nav>
            <div>
                <p> Dear {{member_name}}, </p>
                <p>You have been invited  by {{org.name}} as organization  Admin .Please click on the below link to set your password for your organization dashboard.</p>
                http://{{subdomain}}.staging.forchange.in/setpassword/{{auth_token}}
            </div>
    </body>
</html>
                